@font-face {
  font-family: Roboro-light;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboro-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboro-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Mako-Regular;
  src: url(../fonts/Mako-Regular.ttf);
}
@font-face {
  font-family: Mulish-Regular;
  src: url(../fonts/Mulish-Regular.ttf);
}
@font-face {
  font-family: Mulish-Semibold;
  src: url(../fonts//Mulish-SemiBold.ttf);
}
@font-face {
  font-family: Mulish-Bold;
  src: url(../fonts/Mulish-Bold.ttf);
}
body {
  font-family: Roboro-light;
  font-size: 40px;
  margin: 0;
}

body .catalog-pdf {
  display: flex;
  align-items: center;
  width: 193px;
  gap: 9px;
}
body .catalog-pdf .link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: Mako-Regular;
  margin: 0;
}
body .catalog-pdf .pdf-image {
  width: 18.74px;
  height: 16.06px;
}
body .icons {
  display: flex;
  gap: 26px;
  font-size: 21px;
}

.facts {
  margin-left: 8%;
}
.facts .inline-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.facts .inline-group .bold-text {
  font-weight: 900;
  text-shadow: 0.7px 0.7px 0 black;
}
.facts p {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  line-height: 1.3;
}

.icon-container {
  width: 980px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.icon-container .icons-info {
  display: flex;
  width: 29.74%;
  height: 120.56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E3DED9;
  border-radius: 10px;
}
.icon-container .icons-info .green-circle {
  min-width: 54.5px;
  height: 54.5px;
  background-color: #6AB354;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container .icons-info .facts {
  font-size: 15px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-link {
  font-family: Mulish-Semibold;
  font-size: 14px;
  color: #74B746;
  text-decoration: none;
  word-spacing: 0px;
}

.scroll-down {
  background-color: #FFFFFF !important;
  color: #6AB354;
  z-index: 7;
  opacity: 1;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.scroll-down .green-fiter {
  filter: brightness(0) saturate(100%) invert(64%) sepia(14%) saturate(1413%) hue-rotate(61deg) brightness(94%) contrast(92%);
}

body .grey-background {
  background-color: #F5F5F5;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grey-shadow-box {
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #E3DED9 !important;
  background-color: #FFFFFF;
}

body .growing {
  height: 1124px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
body .growing .title {
  font-family: Roboro-Regular;
  font-size: 48px;
  color: #6AB354;
}
body .growing .product-map-selection {
  width: 970px;
  height: 518px;
  margin-top: 56px;
  background-image: url(/img/main-page-growing/background.png);
  background-repeat: no-repeat;
  background-position: center center;
}
body .growing .product-map-selection .grid-vegetables-container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-family: Roboro-Regular;
  font-size: 16px;
  border: 2px solid #E3DED9;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  row-gap: 30px;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item .divider-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 60px;
  background-color: white;
  gap: 5px;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item .divider-text .divider {
  font-size: 1.75em;
  color: #20912A;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item .divider-text p {
  margin: 0;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item.right {
  justify-content: right;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item .hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item .visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}
body .growing .product-map-selection .grid-vegetables-container .grid-item .active-filter {
  filter: brightness(0) saturate(100%) invert(32%) sepia(95%) saturate(4909%) hue-rotate(74deg) brightness(96%) contrast(87%);
}

.two-column-info {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  margin-top: 76px;
  margin-bottom: 150px;
}
.two-column-info p {
  font-size: 16px;
  word-spacing: 4.5px;
  margin: 0;
  width: 49%;
}

.header-background {
  height: 447px;
  width: 100%;
  background-image: url(/img/contacts/header.png);
  font-family: Roboro-Medium;
  font-size: 48px;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
}
.header-background .black-background {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000000;
  opacity: 0.6;
}
.header-background .text {
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
}
.header-background .text p {
  margin: 0;
}
.header-background .text .white-gorizontal {
  width: 570px;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 35px;
}

.section {
  height: fit-content;
  padding-bottom: 47px;
  position: relative;
}
.section .grey-shadow-box {
  position: relative;
  top: -45px;
  width: 90.2%;
  height: fit-content;
  flex-direction: column;
  padding-bottom: 66px;
}
.section .grey-shadow-box .content-container {
  padding: 0 20px;
}
.section .grey-shadow-box .content-container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  column-gap: 18%;
  row-gap: 30px;
}
.section .grey-shadow-box .content-container .grid-container .green-circle {
  min-width: 70px;
  height: 70px;
  background-color: #6AB354;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}
.section .grey-shadow-box .content-container .grid-container .info {
  font-size: 28px;
  font-family: Roboro-Regular;
  line-height: 1.28;
}
.section .grey-shadow-box .content-container .grid-container .info .title {
  color: #6AB354;
}
.section .grey-shadow-box .content-container .grid-container .info .bold {
  font-weight: bold;
}
.section .grey-shadow-box .content-container .green-line {
  background-color: #6AB354;
  width: 2px;
  min-height: 1px;
  height: 1001px;
  margin: 0 10px;
  margin-top: 111px;
}
.section .grey-shadow-box .content-container .logo {
  align-self: flex-start;
  margin-top: 130px;
}
.section .grey-shadow-box .content-container .logo img {
  width: 230px;
  height: 215px;
}
.section .grey-shadow-box .form {
  border: 1px solid #6AB354;
  border-radius: 10px;
  flex-direction: column;
  width: 34.2%;
  height: fit-content;
  padding-top: 27px;
  padding-bottom: 41px;
  margin-top: 84px;
}
.section .grey-shadow-box .form .title {
  text-align: center;
  font-family: Roboro-light;
  font-size: 16px;
  color: #6AB354;
}
.section .grey-shadow-box .form .form-input {
  flex-direction: column;
  width: 85.4%;
  margin-top: 33px;
}
.section .grey-shadow-box .form .form-input .input {
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.section .grey-shadow-box .form .form-input .input input {
  width: 100%;
  border: 1px solid #6AB354;
  border-radius: 4px;
  font-size: 16px;
  font-family: Roboro-Regular;
  height: 39px;
  padding-left: 20px;
  color: black;
}
.section .grey-shadow-box .form .form-input .text {
  font-size: 13px;
  font-family: Roboro-Regular;
  align-self: flex-start;
  margin-left: 15px;
}
.section .grey-shadow-box .form .form-input .text.permission {
  margin-left: 30px;
}
.section .grey-shadow-box .form .form-input .checkbox label {
  display: flex;
}
.section .grey-shadow-box .form .form-input .button-send button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #6AB354;
  font-size: 12px;
  color: #6AB354;
  font-family: Mulish-Semibold;
  align-self: center !important;
  margin-top: 42px;
}

.map {
  width: 100%;
  height: 651px;
  margin-bottom: 47px;
}
.map img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=contacts.css.map */
