
.product-all {

    .header-background {
        @include HeaderWhiteGorizontalLine(451px, "../img/production/production-header.png");
    }

    .content-wrapper {
        width: 90.27%;
        padding-top: 16px;
        padding-bottom: 102px;

        .menu {
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
            margin-bottom: 56px;
            position: relative;


            .green-circle {
                @include Green-circle-template(70px, 70px);
                width: 70px;
                transition: background-color 0.2s ease;

                .regular-icon {
                    display: block;
                }
                .active-icon {
                    display: none;
                }

                &.active {
                    background-color: $DeepGreenColor !important;

                    .regular-icon {
                        display: none !important;
                    }
                    .active-icon {
                        display: block !important;
                    }
                }
            }

            .gorizontal-line {
                @include GorizontalLineGreen (100%);
            }

            .submenu {
                position: absolute;
                top: -20px;
                border: 1px solid $lightGreenColor;
                background-color: $WhiteColor;
                box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
                width: 456px;
                padding: 50px 59px;
                box-sizing: border-box;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.6s ease, top 0.6s ease, visibility 0.6s ease;
                z-index: 1;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        a {
                            text-decoration: none;
                            color: $lightGreenColor;
                            font-size: 32px;
                            line-height: 1.45;
                        }

                        .subitem {
                            padding-left: 25px;
                            display: none;
                            
                            li a {
                                font-size: 28px;
                                font-family: Roboro-Regular;
                            }
                        }
                    }
                }

                &.active {
                    opacity: 1;
                    top: 130px;
                    visibility: visible;
                }
            }
        }

        .wrapper {
            flex-direction: column;
            gap: 65px;

            .product-list {
                flex-direction: column;
                align-items: center !important;
                height: fit-content;
                padding-top: 45px;
                width: 100%;

                .title p {
                    @include Title(Roboro-light, 30px);
                    margin: 0
                }

                .gorizontal-line {
                    @include GorizontalLineGreen (235px);
                    margin-top: 25px;
                    margin-bottom: 69px;
                }

                .product {
                    flex-wrap: wrap;
                    width: fit-content;

                    a {
                        text-decoration: none;

                        .green-border-item {
                            @include GreenBorderBox (340px, 421px);
                            gap: 39px;
                            
                            image img {
                                object-fit: cover;
                            }
                        }
                    }
                }

                &.fresh {
                    padding-bottom: 94px;

                    .product {
                        gap: 43px;
                    }
                }

                &.frozen, &.grid-product-list {
                    padding-bottom: 75px;

                    .product {
                        display: grid;
                        justify-content: space-around;
                        width: 84%;
                        grid-template-columns: repeat(auto-fit, 340px);
                        grid-template-rows: auto;
                        column-gap: 10px;
                        row-gap: 35px;
                    }
                }

                &.frozen .product{
                    a .green-border-item .image {
                        width: 307px;
                        height: 240px;
                    }
                }

                &.grid-product-list {
                    a .green-border-item {
                        gap: 20px;
                        padding: 20px 20px 0 20px;
                        box-sizing: border-box;

                        .image {
                            width: 300px;
                            height: 300px;
                        }
                    }
                }

                &.brands {
                    padding-bottom: 94px;

                    .product {
                        gap: 43px;

                        a .green-border-item .image {
                            width: 230px;
                            height: 263px;
                        }
                    }
                }

            }
        }

        
    }
}    


.product-item-all {

    .header-background {
        background-image: url('../img/product/background-raspberry.png') !important;
    }

    .content-wrapper {
        padding-bottom: 37px;
        
        .item-card {
            justify-content: left;
            align-items: flex-start;
            gap: 74px;
            margin-bottom: 37px;

            .image-section {
                display: grid;
                grid-template-columns: repeat(3, 128px);
                grid-template-rows: repeat(2, auto);
                gap: 26px;

                .img {
                    border-radius: 10px;
                    overflow: hidden;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .big-image {
                    grid-column-start: 1;
                    grid-column-end: 4; 
                    position: relative;
                    height: 490px;
                    

                    .slider-wrapper {
                        height: 100%;
                        display: flex;
                    }

                    .shadow {
                        justify-content: space-between;
                        width: 100%;
                        height: 76px;
                        background-color: rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 414px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        color: $WhiteColor;
                        font-size: 30px;
                        box-sizing: border-box;
                        padding: 0 17px;
                    }
                }

                .mini-image {
                    height: 144px;
                    position: relative;

                    .white-shadow {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        transition: background-color 0.5s ease;
                        
                        &.active {
                            background-color: $AlmostWhiteColor;
                            opacity: 0.65;
                        }
                    }
                }
            }

            .info-section {
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
                width: 35%;

                .title p {
                    @include Title(Roboro-light, 28px);
                    margin: 0;
                }

                .text p {
                    font-size: 16px;
                    font-family: Roboro-Regular;
                    line-height: 1.56;
                    margin: 30px 0
                }

                .gorizontal-line {
                    @include GorizontalLineGreen (87%);
                    margin-bottom: 40px;
                }

                .icon {
                    gap: 34px;
                    margin-bottom: 19px;

                    .green-circle {
                        @include Green-circle-template(70px, 70px);
                    }

                    .info {
                        .title p {
                            @include Title(Roboro-Regular, 16px);
                        }

                        .text {
                            margin: 0;
                            font-size: 16px;
                            line-height: 1.5;
                            font-family: Roboro-Regular;
                        }
                    }
                }
            }
        }

        .green-border-container {
            @include GreenBorderBox (auto, fit-content);
            padding: 38px 39px  72px 39px;
            flex-direction: column;
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

            .title p {
                @include Title(Roboro-light, 28px);
                text-align: center;
                margin-top: 0;
                margin-bottom: 47px;
            }

            .gallery {
                width: 78.4%;

                .gallery-wrapper {
                    width: 100%;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 30px;

                    .item {
                        flex-direction: column;
                        gap: 28px;
                        width: 252px;

                        .image {
                            height: 272px;
                            border-radius: 10px;
                            overflow: hidden;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .title p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

