
.growing-all, .production-all, .about-us-all, .news-all, .contacts-all, .mission-all, .vacancy-all, .events-all, .product-all, .useful-interesting-all, .article-all, .privacy-all {
    

header {

    nav {
     @extend %NotFirstHeader;
    }
     
     .header-background {
         padding-top: 80px;
        
         img {
             position: relative;
             width: 100%;
         }
     }
 
     .info-block {
         .title {
             p {
                 margin-bottom: 15px;
                 margin-top: 84px;
                 font-weight: bold;
             }
         }
 
         .gorizontal-line {
            @include GorizontalLineGreen (65.6%);
         }
 
         .information {
             font-size: 20px;
             line-height: 1.5;
             width: 80%;
             p {
                 margin-top: 30px;
                 margin-bottom: 80px;
             }
         }
     
         .icon-container {
             width: 80%;
 
             .icons-info {
                 @include GreenIconContainer(33.3%, 56px);
                 border: none;
                 p {
                     font-size: 18px;
                 }
             }
         }
     }
 }
 
}