

.vacancy-all{


    header {
        height: 780px;

        nav {
            @extend %NotFirstHeader;
        }

        .info-block {
            @include InfoBlock (60.3%, 324px, 52%);

            .title {
                @include Title(Roboro-Medium, 48px);
                p{
                    margin-top: 50px;
                }
            }     

            .information {
                font-family: Roboro-Regular;
            }
        }    
    }

    .flex-wrapper {
        flex-direction: column;
    }

    .grid-img-info {
        display: grid;
        width: 77%;
        grid-template-columns: repeat(2, 47.7%);
        column-gap: 50px;
        row-gap: 88px;

        .text-item {
            @include GreenBorderBox (100%, fit-content);
            padding-bottom: 25px;

            .title {
                @include Title(Roboro-Regular, 28px); 
                p{
                    margin-bottom: 0;
                    margin-top: 62px;
                }
            }

            .information {
                font-size: 20px;
                width: 90%;
                line-height: 1.7;
                p{
                    margin-bottom: 0;
                }
            }
        }
    }

    .work-with-us {
        width: 76.7%;
        height: fit-content;
        box-sizing: border-box;
        padding-bottom: 48px;
        margin-top: 73px;
        margin-bottom: 188px;

        .first-row {
            padding-top: 80px;
            display: flex;
            align-items: center;
            width: 91.5%;
            gap: 77px;

            .divider {
                @include GorizontalLineGreen (1px);
                height: 220px;
            }

            .aplication {
                width: 40%;

                .title {
                    @include Title(Roboro-Regular, 28px);
                    p{
                        margin-top: 0;
                    }

                }

                .gorizontal-line {
                    @include GorizontalLineGreen (220px);
                }

                span {
                    font-size: 10px;
                    font-family: Roboro-Regular;
                    align-self: flex-start;
                    margin: 17px 40px;
                    flex-direction: row;
                    gap: 5px;
                }

                .form {
                    flex-direction: column;
                    width: 86.1%;
                    gap: 11px;
                    margin-top: 28px;

                    input {
                        width: 100%;
                        border: 1px solid $lightGreenColor;
                        border-radius: 3px;
                        font-size: 10px;
                        font-family: Roboro-Regular;
                        height: 29px;
                        padding-left: 10px;
                        box-sizing: border-box;
                    }
                }

                button {
                    width: 113px;
                    height: 22px;
                    background-color: transparent;
                    border: 1px solid $lightGreenColor;
                    border-radius: 3px; 
                    font-size: 10px;
                    font-family: Roboro-Regular;
                }
            }
        }

        .title.second {
            @include Title(Roboro-Regular, 20px);
        p {
            margin-top: 55px;
        }
        }

        .contacts {
            display: flex;
            justify-content: space-between;
            width: 72.5%;

            .flex-wrapper {
                font-size: 20px;
                font-family: Roboro-Regular;
                text-align: center;
                p{
                    margin: 0;
                }
            }
        }
    }


}